<br />
<br />

<div class="container">
    <table align="center" border="0" style="width:100%">
        <tr>
            <td align="center"> <a href="/"><img src="/images/MyCompany-Logo.png" /></a></td>
        </tr>
        <tr>
            <td align="center"><hr /></td>
        </tr>
        <tr>
            <td>
                Demos:
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <a href="/HomeOneFactor"> 1st factor authentication</a>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <a href="/HomeMfaFirst"> 2 factors authentication - ePin first factor</a>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <a href="/HomeMfaSecond"> 2 factors authentication - ePin second factor</a>
            </td>
        </tr>
        <tr>
            <td align="center"><hr /></td>
        </tr>
        <tr>
            <td>
                <h6> Note: ePin extension must be installed and ePin registration completed.</h6>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="center" colspan="3">
                <a href="https://github.com/ePin-Developer/ePin.MyCompany">GitHub</a>
            </td>
        </tr>
    </table>
</div>

@await Html.PartialAsync("_IsAuthenticated")